@mixin main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
}
@mixin flexBox($align) {
    display: flex;
    justify-content: $align;
    align-items: $align;
}